body {
    align-content: center;
    margin: 0;
    padding: 0;
}

table {
    margin: 0 auto;
    width: 70%;
    font-family: Arial;
}

/*.sat, .sun {*/
/*    color: red;*/
/*}*/

[id="1"] {
    color: crimson;
}

[id="2"] {
    color: chartreuse;
}

th.year {
    font-weight: bold;
}


