body {
    align-content: center;
    margin: 0;
    padding: 0;
}

table {
    margin: 0 auto;
    width: 70%;
    font-family: Arial;
}

.sat, .sun {
    color: red;
}

th.year {
    font-weight: bold;
}

